@charset "UTF-8";
/* 여백 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 폰트 초기화 */
html {
  font-size: 62.5%;
}

body {
  height: 200vh;
  font-family: "Noto Snas KR", sans-serif;
  background-color: #fff;
  color: #222;
}

/* 제목 태그 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal;
}

/* a 링크 초기화 */
a,
a:hover,
a:focus {
  color: #222;
  text-decoration: none;
}

/* 블릿기호 초기화 */
ul,
li,
ol {
  list-style: none;
}

/* 폰트 스타일 초기화 */
em,
address {
  font-style: normal;
}

/* 버튼 초기화 */
button {
  border: 0;
  cursor: pointer;
}

/* 반응형 이미지 */
img,
video {
  width: 100%;
}

/* 테두리 초기화 */
img,
fieldset {
  border: 0 none;
}

/* clearfix */
.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

/* IR 효과 */
.blind {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}

:root {
  --mainCr: #ffa751;
  --accentCr: #ff5429;
}

#wrap {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.inner {
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

#header {
  width: 100%;
}
#header .header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#header .header .header_top {
  width: 100%;
  padding: 5px 0;
}
#header .header .header_top ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#header .header .header_top ul li {
  position: relative;
  padding: 5px 12px;
}
#header .header .header_top ul li::after {
  content: "";
  position: absolute;
  top: 46%;
  right: 0;
  width: 1px;
  height: 10px;
  transform: translateY(-50%);
  background-color: #e6e6e6;
}
#header .header .header_top ul li:last-child::after {
  display: none;
}
#header .header .header_top ul li a {
  font-size: 1.4rem;
  color: #4d4d4d;
}
#header .header .header_center {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 30px;
}
#header .header .header_center .search_form {
  position: relative;
}
#header .header .header_center .search_form .search_btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 1;
  background: url("../images/ico_header_search.svg") center center/18px no-repeat;
  cursor: pointer;
}
#header .header .header_center .search_form .search_input {
  width: 400px;
  height: 40px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid var(--mainCr);
}
#header .header .header_center .search_form .search_input:focus {
  outline: 0 none;
}
#header .header .header_center .my_menu {
  display: flex;
  flex-direction: row;
  gap: 0 10px;
}
#header .header .header_center .my_menu .menu_link {
  width: 50px;
  height: 50px;
  display: block;
}
#header .header .header_center .my_menu .menu_link.menu_link1 {
  background: url("../images/top-util-compiltaion.png") left center/cover;
}
#header .header .header_center .my_menu .menu_link.menu_link2 {
  background: url("../images/top-util-compiltaion.png") center center/cover;
}
#header .header .header_center .my_menu .menu_link.menu_link3 {
  background: url("../images/top-util-compiltaion.png") right center/cover;
}
#header #headerGnb {
  width: 100%;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}
#header #headerGnb.sticky {
  position: fixed;
  top: 0;
  left: 0;
}
#header #headerGnb .gnb_area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.8rem;
}
#header #headerGnb .gnb_area .side_menu_btn_box {
  width: 12%;
}
#header #headerGnb .gnb_area .side_menu_btn_box .side_menu_btn {
  width: 100%;
  padding: 15px 0;
  text-align: left;
  font-size: 1.8rem;
  background-color: transparent;
}
#header #headerGnb .gnb_area .side_menu_btn_box .side_menu_btn .menu_bars {
  width: auto;
  display: inline-block;
  padding-right: 5px;
  text-align: left;
}
#header #headerGnb .gnb_area .side_menu_btn_box .side_menu_btn .menu_bars .bar {
  width: 20px;
  height: 2px;
  display: inline-block;
  position: relative;
  top: -5px;
  right: 0px;
  transform: translateY(-50%);
  border-radius: 5px;
  background-color: #111;
}
#header #headerGnb .gnb_area .side_menu_btn_box .side_menu_btn .menu_bars .bar::after, #header #headerGnb .gnb_area .side_menu_btn_box .side_menu_btn .menu_bars .bar::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  background-color: #111;
  transition: all 0.2s ease;
}
#header #headerGnb .gnb_area .side_menu_btn_box .side_menu_btn .menu_bars .bar::after {
  top: 5px;
}
#header #headerGnb .gnb_area .side_menu_btn_box .side_menu_btn .menu_bars .bar::before {
  top: -5px;
}
#header #headerGnb .gnb_area .side_menu_btn_box .side_menu_btn.active .menu_bars .bar {
  background-color: transparent;
}
#header #headerGnb .gnb_area .side_menu_btn_box .side_menu_btn.active .menu_bars .bar::after {
  top: 0;
  transform: rotate(140deg);
}
#header #headerGnb .gnb_area .side_menu_btn_box .side_menu_btn.active .menu_bars .bar::before {
  top: 0;
  transform: rotate(-140deg);
}
#header #headerGnb .gnb_area #gnb {
  width: 88%;
}
#header #headerGnb .gnb_area #gnb .header_gnb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding-left: 30px;
}
#header #headerGnb .gnb_area #gnb .header_gnb::before {
  content: "";
  width: 1px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  background-color: #ccc;
}
#header #headerGnb .gnb_area #gnb .header_gnb .header_gnb_list .gnb_link {
  display: block;
  padding: 15px 20px;
}

#side_menu {
  width: 220px;
  height: 100%;
  position: fixed;
  top: 180px;
  left: 0;
  display: none;
  padding: 30px 0;
  border-right: 1px solid #eee;
}
#side_menu.active {
  display: block;
}
#side_menu:hover {
  display: block;
}
#side_menu .side_menu_nav {
  height: 100%;
}
#side_menu .side_menu_nav .side_menu_list {
  height: calc(100% - 170px);
  overflow-y: auto;
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item:hover {
  background-color: var(--mainCr);
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item:hover .side_menu_depth {
  display: block;
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link {
  width: 100%;
  display: block;
  padding: 10px 20px;
  font-size: 1.6rem;
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link .bg_ico {
  height: 30px;
  display: inline-block;
  padding-left: 40px;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link1 .bg_ico {
  background-image: url("../images/menu-icon1.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link2 .bg_ico {
  background-image: url("../images/menu-icon2.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link3 .bg_ico {
  background-image: url("../images/menu-icon3.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link4 .bg_ico {
  background-image: url("../images/menu-icon4.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link5 .bg_ico {
  background-image: url("../images/menu-icon5.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link6 .bg_ico {
  background-image: url("../images/menu-icon6.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link7 .bg_ico {
  background-image: url("../images/menu-icon7.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link8 .bg_ico {
  background-image: url("../images/menu-icon8.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link9 .bg_ico {
  background-image: url("../images/menu-icon9.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link10 .bg_ico {
  background-image: url("../images/menu-icon10.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link11 .bg_ico {
  background-image: url("../images/menu-icon11.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link12 .bg_ico {
  background-image: url("../images/menu-icon12.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link13 .bg_ico {
  background-image: url("../images/menu-icon13.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link14 .bg_ico {
  background-image: url("../images/menu-icon14.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link15 .bg_ico {
  background-image: url("../images/menu-icon15.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link16 .bg_ico {
  background-image: url("../images/menu-icon16.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link17 .bg_ico {
  background-image: url("../images/menu-icon17.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link18 .bg_ico {
  background-image: url("../images/menu-icon18.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link19 .bg_ico {
  background-image: url("../images/menu-icon19.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link20 .bg_ico {
  background-image: url("../images/menu-icon20.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link21 .bg_ico {
  background-image: url("../images/menu-icon21.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_link22 .bg_ico {
  background-image: url("../images/menu-icon22.png");
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_depth {
  width: 220px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  padding: 30px 0;
  background-color: var(--mainCr);
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_depth .depth_link {
  width: 100%;
  display: block;
  padding: 15px 20px;
  font-size: 1.6rem;
}
#side_menu .side_menu_nav .side_menu_list .side_menu_item .side_menu_depth .depth_link:hover {
  background-color: #fff;
}/*# sourceMappingURL=style.css.map */