#footer {
    width: 100%;

    .footer_top {
        width: 100%;
        background-color: #eee;

        .footer_menu {
            width: 100%;
            max-width: 1200px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            padding: 0 20px;

            .footer_menu_list {
                display: flex;
                flex-direction: row;

                .footer_menu_item {
                    &:first-child .ft_menu_link {
                        padding-left: 0;
                    }
                    &:last-child .ft_menu_link {
                        font-weight: 500;
                        color: #111;

                        &::after {
                            display: none;
                        }
                    }

                    .ft_menu_link {
                        display: block;
                        position: relative;
                        padding: 20px 14px;
                        font-size: 1.4rem;
                        color: #666;

                        &::after {
                            content: "";
                            width: 1px;
                            height: 14px;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                            display: block;
                            background-color: #ccc;
                        }
                    }
                }
            }
            .family_select {
                width: 200px;
                position: relative;

                .fm_btn {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-size: 1.4rem;

                    .up_ico {
                        transition: all 0.2s ease;

                        &.rotate {
                            transform: rotate(-180deg);
                        }
                    }
                }
                .select_menu {
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: -250px;
                    display: none;
                    border: 1px solid var(--mainCr);
                    background-color: #fff;

                    &.active {
                        display: block;
                    }
                    .select_menu_list {
                        width: 100%;
                        padding: 20px;

                        .sm_menu_link {
                            width: 100%;
                            display: block;
                            padding: 5px 0;
                            font-size: 1.4rem;
                            color: #999;

                            &:hover {
                                color: #111;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer_bottom {
        width: 100%;
        color: #999;

        .footer_info {
            width: 100%;
            display: flex;
            flex-direction: row;
            padding: 50px 0;

            .footer_logo {
                width: auto;
                margin-right: 80px;
            }
            .footer_center_info {
                margin-right: 80px;

                .footer_info_list {
                    width: 500px;

                    .footer_info_item {
                        display: inline;
                        line-height: 1.3;
                        font-size: 1.4rem;

                        &.company {
                            display: block;
                            margin-bottom: 20px;
                            font-size: 1.6rem;
                            font-weight: 600;
                            color: #222;
                        }
                        .check_link {
                            text-decoration: underline;
                            font-size: 1.3rem;
                            color: #999;
                        }
                    }
                }
                .copyright {
                    margin-top: 20px;
                    font-size: 1.4rem;
                }
            }
            .footer_right_info {
                .customer_info_list {
                    .customer_list_item {
                        display: inline-block;
                        padding-right: 10px;
                        margin-bottom: 10px;
                        font-size: 1.4rem;

                        &.cscenter {
                            display: block;
                            font-size: 1.6rem;
                            font-weight: 600;
                            color: #222;

                            .footer_tel {
                                display: block;
                                margin-top: 16px;
                                font-size: 2.2rem;
                                font-weight: 600;

                                .phone_ico {
                                    padding-right: 10px;
                                    margin-bottom: 5px;
                                    vertical-align: middle;
                                    font-size: 1.6rem;
                                    color: var(--mainCr);
                                }
                            }
                        }
                    }
                }
                .customer_btns {
                    display: flex;
                    flex-direction: row;

                    .customer_link {
                        display: block;
                        padding: 4px 6px;
                        margin-right: 5px;
                        border-radius: 6px;
                        border: 1px solid #ccc;
                        font-size: 1rem;
                        color: #999;
                    }
                }
                .footer_sns_list {
                    display: flex;
                    flex-direction: row;
                    gap: 0 10px;
                    margin-top: 20px;

                    .footer_list_item {
                        .footer_sns_link {
                            width: 30px;
                            height: 30px;
                            display: block;

                            .ft_sns_ico {
                                display: block;
                                width: 100%;
                                height: 100%;
                            }

                            &.fsl1 {
                                .ft_sns_ico {
                                    background: url("../../images/ico_footer_sns_dark.png") left center / cover no-repeat;
                                }
                            }
                            &.fsl2 {
                                .ft_sns_ico {
                                    background: url("../../images/ico_footer_sns_dark.png") -37px center / cover no-repeat;
                                }
                            }
                            &.fsl3 {
                                .ft_sns_ico {
                                    background: url("../../images/ico_footer_sns_dark.png") -74px center / cover no-repeat;
                                }
                            }
                            &.fsl4 {
                                .ft_sns_ico {
                                    background: url("../../images/ico_footer_sns_dark.png") -111px center / cover no-repeat;
                                }
                            }
                            &.fsl5 {
                                .ft_sns_ico {
                                    background: url("../../images/ico_footer_sns_dark.png") -148px center / cover no-repeat;
                                }
                            }
                            &.fsl6 {
                                .ft_sns_ico {
                                    background: url("../../images/ico_footer_sns_dark.png") right center / cover no-repeat;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
