#header {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #eee;

    // pc 헤더
    .header {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;

        .header_top {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0 30px;

            .search_form {
                position: relative;

                .search_btn {
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    top: 0;
                    right: 5px;
                    background: url("../images/ico_header_search.svg") center center/ 18px no-repeat;
                    cursor: pointer;
                }
                .search_input {
                    width: 500px;
                    height: 40px;
                    padding-left: 15px;
                    border-radius: 5px;
                    border: 1px solid var(--mainCr);

                    &:focus {
                        outline: 0 none;
                    }
                }
            }

            .my_menu {
                display: flex;
                flex-direction: row;
                gap: 0 10px;

                .menu_link {
                    width: 50px;
                    height: 50px;
                    display: block;

                    &.menu_link1 {
                        background: url("../images/top-util-compiltaion.png") left center/cover;
                    }
                    &.menu_link2 {
                        background: url("../images/top-util-compiltaion.png") center center/cover;
                    }
                    &.menu_link3 {
                        position: relative;
                        background: url("../images/top-util-compiltaion.png") right center/cover;

                        .add {
                            width: 18px;
                            height: 18px;
                            padding-top: 4px;
                            display: block;
                            position: absolute;
                            top: 6px;
                            right: 6px;
                            text-align: center;
                            border-radius: 10px;
                            background-color: var(--accentCr);
                            color: #fff;
                        }
                    }
                }
            }
        }
        .header_center {
            width: 100%;
            padding: 5px 0;

            .util {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                .util_list {
                    position: relative;
                    padding: 5px 12px;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 46%;
                        right: 0;
                        width: 1px;
                        height: 10px;
                        transform: translateY(-50%);
                        background-color: #e6e6e6;
                    }
                    &:last-child::after {
                        display: none;
                    }
                    .util_link {
                        font-size: 1.4rem;
                        color: #4d4d4d;
                    }
                }
            }
        }
    }

    // 모바일 헤더
    .mb_header {
        width: 100%;
        padding: 20px 0;
        display: none;
        position: relative;

        .main_logo {
            width: 90px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .mb_menu_btn_area {
            width: 50px;
            height: 50px;

            .mb_menu_btn {
                width: 100%;
                height: 100%;
                background-color: transparent;

                .menu_bars {
                    width: 100%;
                    display: inline-block;

                    .bar {
                        width: 20px;
                        height: 2px;
                        display: inline-block;
                        position: relative;
                        top: 50%;
                        right: 0px;
                        transform: translateY(-50%);
                        border-radius: 5px;
                        background-color: #111;

                        &::after,
                        &::before {
                            content: "";
                            width: 100%;
                            height: 100%;
                            display: block;
                            position: absolute;
                            left: 0;
                            background-color: #111;
                            transition: all 0.2s ease;
                        }
                        &::after {
                            top: 5px;
                        }
                        &::before {
                            top: -5px;
                        }
                    }
                }
            }
        }
        .my_menu {
            display: flex;
            flex-direction: row;
            gap: 0 5px;

            .menu_link {
                width: 40px;
                height: 40px;
                display: block;

                &.menu_link1 {
                    background: url("../images/ico_header_search.svg") center center / 18px no-repeat;
                }
                &.menu_link2 {
                    background: url("../images/top-util-compiltaion.png") center center / cover;
                }
            }
        }
    }

    #headerGnb {
        width: 100%;
        background-color: #fff;

        &.sticky {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 99;
            border-bottom: 1px solid #eee;
        }
        .gnb_area {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 1.8rem;

            .side_menu_btn_box {
                width: 140px;
                position: relative;

                &::after {
                    content: "";
                    width: 1px;
                    height: 16px;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    display: block;
                    background-color: #ccc;
                }

                .side_menu_btn {
                    width: 100%;
                    padding: 15px 0;
                    text-align: left;
                    font-size: 1.8rem;
                    background-color: transparent;

                    .menu_bars {
                        width: auto;
                        display: inline-block;
                        padding-right: 5px;
                        text-align: left;

                        .bar {
                            width: 20px;
                            height: 2px;
                            display: inline-block;
                            position: relative;
                            top: -5px;
                            right: 0px;
                            transform: translateY(-50%);
                            border-radius: 5px;
                            background-color: #111;

                            &::after,
                            &::before {
                                content: "";
                                width: 100%;
                                height: 100%;
                                display: block;
                                position: absolute;
                                left: 0;
                                background-color: #111;
                                transition: all 0.2s ease;
                            }
                            &::after {
                                top: 5px;
                            }
                            &::before {
                                top: -5px;
                            }
                        }
                    }
                    &.active .menu_bars {
                        .bar {
                            background-color: transparent;

                            &::after {
                                top: 0;
                                transform: rotate(140deg);
                            }
                            &::before {
                                top: 0;
                                transform: rotate(-140deg);
                            }
                        }
                    }
                }
            }

            #gnb {
                width: 86%;
                padding-left: 4px;

                .header_gnb {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .header_gnb_list {
                        .gnb_link {
                            display: block;
                            padding: 15px 20px;
                            transition: all 0.2s ease;

                            &:hover {
                                color: var(--mainCr);
                            }
                        }
                    }
                }
            }
        }
    }

    // 미디어쿼리
    @include laptop {
        .header {
            .header_top {
                .main_logo {
                    width: 120px;
                }
                .search_form {
                    .search_input {
                        width: 48vw;
                    }
                }
            }
        }
    }
    @media all and (max-width: 1000px) {
        #headerGnb {
            .gnb_area {
                font-size: 1.6rem;

                .side_menu_btn_box {
                    width: 12%;

                    &:after {
                        right: -14px;
                    }
                    .side_menu_btn {
                        padding: 15px 0;
                        font-size: 1.6rem;

                        .menu_bars {
                            .bar {
                                width: 18px;
                            }
                        }
                    }
                }

                #gnb {
                    .header_gnb {
                        .header_gnb_list {
                            .gnb_link {
                                padding: 12px 18px;

                                &.gnb_ico {
                                    img {
                                        width: 80px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @include tablet {
        .header {
            display: none;
        }
        .mb_header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        #headerGnb {
            display: none;
        }
    }
    @include mobile {
        .header {
            display: none;
        }
        .mb_header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        #headerGnb {
            display: none;
        }
    }
}
