#products {
    width: 100%;
    padding-top: 100px;

    .products_area {
        width: 100%;
        padding-bottom: 100px;

        .products_title {
            text-align: center;
            font-size: 2.6rem;
            font-weight: 700;
        }
        .product_list_wrap {
            width: 100%;
            position: relative;
            padding-top: 20px;

            .product_list_inner {
                width: 100%;
                overflow: hidden;

                .products_list {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;

                    .products_item {
                        width: 25%;
                        flex: 0 0 auto;
                        padding: 0 1%;

                        .products_link {
                            width: 100%;
                            display: block;

                            .products_item_img {
                                &.ranking_item_img {
                                    position: relative;

                                    .num {
                                        width: 40px;
                                        height: 40px;
                                        line-height: 40px;
                                        display: block;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        text-align: center;
                                        border-radius: 10px;
                                        font-size: 1.8rem;
                                        font-weight: 600;
                                        color: #fff;
                                        background-color: var(--mainCr);
                                    }
                                }

                                img {
                                    border-radius: 15px;
                                }
                            }
                            .products_item_txt {
                                width: 100%;
                                padding: 10px 5px;

                                .item_title {
                                    font-size: 1.8rem;
                                    font-weight: 600;

                                    @media all and (max-width: 1000px) {
                                        font-size: 1.6rem;
                                    }
                                }
                                .item_desc {
                                    padding: 3px 0 5px;
                                    font-size: 1.4rem;
                                    color: #999;

                                    @media all and (max-width: 1000px) {
                                        font-size: 1.2rem;
                                    }
                                }
                                .item_price {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: flex-end;
                                    gap: 0 5px;
                                    font-size: 1.8rem;
                                    font-weight: 800;

                                    @media all and (max-width: 1000px) {
                                        font-size: 1.6rem;
                                    }

                                    .sale {
                                        color: var(--accentCr);
                                    }
                                    .price {
                                        .won {
                                            font-size: 1.4rem;
                                            font-weight: 400;
                                        }
                                    }
                                    .origin {
                                        text-decoration: line-through;
                                        font-size: 1.4rem;
                                        font-weight: 400;
                                        color: #999;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .qd_prev_btn,
            .qd_next_btn {
                width: 42px;
                height: 42px;
                position: absolute;
                top: 34%;
                padding: 10px;
                border-radius: 30px;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
                opacity: 1;
                transition: all 0.2s ease;
                font-size: 1.8rem;
                background-color: #fff;

                &:hover {
                    background-color: var(--mainCr);
                }
            }
            .qd_prev_btn {
                left: -15px;
            }
            .qd_next_btn {
                right: -15px;
            }
        }
        &.best,
        &.sale,
        &.double,
        &.lookie,
        &.package,
        &.timesale,
        &.category {
            .more_btn {
                width: 300px;
                display: block;
                padding: 15px 0;
                margin: 30px auto 0;
                border: 1px solid #ccc;
                border-radius: 30px;
                font-size: 1.6rem;
                color: #999;

                .right_arrow {
                    padding-left: 5px;
                }
            }
        }
        &.timesale {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            .timesale_tit_area {
                width: 35%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .timesale_title {
                    width: 100%;
                    margin-bottom: 30px;
                    font-size: 2.8rem;
                    font-weight: 600;

                    .time {
                        display: block;
                        padding-left: 36px;
                        background: url("../../images/ico_timesale.png") no-repeat;
                        background-size: contain;
                    }
                }
                .tit_desc {
                    font-size: 1.6rem;
                    font-weight: 400;
                }
            }
            .timesale_list_wrap {
                width: 65%;
                position: relative;

                .timesale_list_inner {
                    width: 100%;
                    overflow: hidden;

                    .timesale_list {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        transition: all 0.5s ease-in-out;

                        .timesale_item {
                            width: 46%;
                            flex: 0 0 auto;
                            margin-right: 8%;

                            &:last-child {
                                margin-right: 0;
                            }
                            .timesale_link {
                                width: 100%;
                                display: block;

                                .timesale_item_img {
                                    width: 100%;
                                    position: relative;

                                    img {
                                        border-radius: 15px 15px 0 0;
                                    }
                                    .timer {
                                        width: 100%;
                                        display: flex;
                                        justify-content: center;
                                        gap: 0 5px;
                                        position: absolute;
                                        left: 0;
                                        bottom: -32px;
                                        padding: 8px 0;
                                        border-radius: 0 0 15px 15px;
                                        font-size: 1.8rem;
                                        background-color: var(--accentCr);
                                        color: #fff;

                                        span {
                                            font-weight: 600;

                                            &.day {
                                                .ico_clock {
                                                    padding-right: 5px;
                                                    font-size: 1.6rem;
                                                }
                                            }
                                        }
                                    }
                                }
                                .timesale_item_txt {
                                    margin-top: 50px;

                                    .item_title {
                                        font-size: 1.6rem;
                                        font-weight: 400;
                                    }
                                    .item_price {
                                        display: flex;
                                        flex-direction: row;
                                        align-items: flex-end;
                                        gap: 0 5px;
                                        margin-top: 5px;
                                        font-size: 1.8rem;
                                        font-weight: 800;

                                        .sale {
                                            color: var(--accentCr);
                                        }
                                        .price {
                                            .won {
                                                font-size: 1.4rem;
                                                font-weight: 400;
                                            }
                                        }
                                        .origin {
                                            text-decoration: line-through;
                                            font-size: 1.4rem;
                                            font-weight: 400;
                                            color: #999;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .qd_prev_btn,
                .qd_next_btn {
                    width: 42px;
                    height: 42px;
                    position: absolute;
                    top: 28%;
                    padding: 10px;
                    border-radius: 30px;
                    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
                    opacity: 1;
                    transition: all 0.2s ease;
                    font-size: 1.8rem;
                    background-color: #fff;

                    &:hover {
                        background-color: var(--mainCr);
                    }
                }
                .qd_prev_btn {
                    left: -24px;
                }
                .qd_next_btn {
                    right: -24px;
                }
            }
        }
        &.tabmenu {
            width: 100%;

            .tabmenu_wrap {
                width: 100%;
                display: flex;
                flex-direction: column;

                .tab_nav {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 0 10px;
                    margin-top: 20px;

                    .tab_nav_item {
                        .tab_nav_link {
                            display: block;
                            padding: 12px 15px 9px;
                            border-radius: 30px;
                            font-size: 1.6rem;
                            background-color: #f8f8f8;

                            &.active {
                                background-color: #222;
                                color: #fff;
                            }
                        }
                    }
                }
                .tabmenu_item_container {
                    width: 100%;
                    margin-top: 30px;

                    .tabmenu_item {
                        width: 100%;
                        display: none;

                        &.active {
                            display: block;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                        }
                        .tabmenu_visual {
                            width: 50%;
                            position: relative;

                            .tabmenu_visual_img {
                                img {
                                    height: 100%;
                                    min-height: 200px;
                                    object-fit: cover;
                                    border-radius: 15px;
                                }
                            }
                            .context {
                                position: absolute;
                                right: 20px;
                                bottom: 20px;
                                padding: 20px;
                                border-radius: 8px;
                                background-color: rgba(255, 255, 255, 0.8);

                                .title {
                                    font-size: 1.8rem;
                                    font-weight: 600;
                                }
                                .text {
                                    padding-top: 5px;
                                    font-size: 1.4rem;
                                    color: #999;
                                }
                            }
                        }
                        .tabmenu_list {
                            width: 48%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .tabmenu_list_item {
                                width: 100%;

                                .tabmenu_link {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: row;
                                    gap: 0 15px;

                                    .tabmenu_item_img {
                                        width: 100px;
                                        height: 100px;

                                        img {
                                            border-radius: 8px;
                                        }
                                    }
                                    .tabmenu_item_txt {
                                        padding: 5px 0;

                                        .item_title {
                                            font-size: 1.6rem;
                                            font-weight: 400;
                                        }
                                        .item_desc {
                                            margin: 3px 0 10px;
                                            font-size: 1.2rem;
                                            color: #999;
                                        }
                                        .item_price {
                                            display: flex;
                                            flex-direction: row;
                                            align-items: flex-end;
                                            gap: 0 6px;
                                            font-size: 1.8rem;
                                            font-weight: 800;

                                            .sale {
                                                color: var(--accentCr);
                                            }
                                            .price {
                                                .won {
                                                    font-size: 1.4rem;
                                                    font-weight: 400;
                                                }
                                            }
                                            .origin {
                                                text-decoration: line-through;
                                                font-size: 1.4rem;
                                                font-weight: 400;
                                                color: #999;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.category {
            width: 100%;

            .category_tab_nav {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 0 10px;
                margin-top: 30px;

                .category_tab_item {
                    .category_tab_link {
                        display: block;
                        padding: 12px 18px 9px;
                        border-radius: 30px;
                        font-size: 1.6rem;
                        background-color: #f8f8f8;

                        &.active {
                            background-color: #222;
                            color: #fff;
                        }
                    }
                }
            }
            .category_tabmenu_container {
                width: 100%;
                margin-top: 30px;
                padding-bottom: 20px;

                .category_tabmenu_item {
                    width: 100%;
                    display: none;

                    &.active {
                        display: block;
                    }
                    .category_tabmenu_list {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        gap: 40px 0;

                        .ct_list_item {
                            width: 23%;

                            .category_link {
                                width: 100%;

                                .category_item_img {
                                    img {
                                        border-radius: 15px;
                                    }
                                }
                                .ct_tabmenu_txt {
                                    padding: 8px 0 5px;

                                    .item_title {
                                        font-size: 1.6rem;
                                        font-weight: 400;
                                    }
                                    .item_price {
                                        display: flex;
                                        flex-direction: row;
                                        align-items: flex-end;
                                        gap: 0 6px;
                                        margin-top: 5px;
                                        font-size: 1.8rem;
                                        font-weight: 800;

                                        .sale {
                                            color: var(--accentCr);
                                        }
                                        .price {
                                            .won {
                                                font-size: 1.4rem;
                                                font-weight: 400;
                                            }
                                        }
                                        .origin {
                                            text-decoration: line-through;
                                            font-size: 1.4rem;
                                            font-weight: 400;
                                            color: #999;
                                        }
                                    }
                                    .item_desc {
                                        margin-top: 3px;
                                        font-size: 1.2rem;
                                        color: #999;
                                    }
                                    .rating {
                                        margin: 5px 0;
                                        position: relative;
                                        font-size: 1.2rem;
                                        color: #999;

                                        .score {
                                            display: inline-block;
                                            padding-left: 14px;

                                            &::before {
                                                content: "";
                                                width: 12px;
                                                height: 12px;
                                                display: block;
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                background: url("../../images/ico-rating-star.svg") no-repeat center / 100%;
                                            }
                                        }
                                    }
                                    .badge {
                                        width: 100%;
                                        display: flex;
                                        flex-direction: row;
                                        gap: 0 5px;

                                        .badge_exp {
                                            width: 68px;
                                            height: 20px;
                                            display: block;
                                            background: url("../../images/imgbadge-dlv-exp.svg") no-repeat center / 100%;
                                        }
                                        .badge_img {
                                            width: auto;
                                            height: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .event_banner {
        width: 100%;
        padding-bottom: 100px;

        .event_bn_img {
            width: 100%;
            border-radius: 15px;
        }
    }
}
