#sideMenu {
    width: 220px;
    height: calc(100vh - 180px);
    position: absolute;
    top: 182px;
    left: 0;
    z-index: 9;
    display: none;
    border-right: 1px solid #eee;
    background-color: #fff;

    &.fixed {
        height: calc(100vh - 54px);
        position: fixed;
        top: 54px;

        .side_menu_nav {
            .side_menu_list {
                height: calc(100% - 40px);
            }
        }
    }
    &.active {
        display: block;
    }
    &:hover {
        display: block;
    }

    .side_menu_nav {
        width: 100%;
        height: 100%;
        position: relative;

        .side_menu_list {
            width: 100%;
            height: 100%;
            padding: 30px 0;
            overflow-y: auto;

            .side_menu_item {
                width: 100%;

                &:hover {
                    background-color: #eee;

                    .side_menu_depth {
                        display: block;
                    }
                }

                .side_menu_link {
                    width: 100%;
                    display: block;
                    padding: 10px 20px;
                    font-size: 1.6rem;

                    .bg_ico {
                        height: 30px;
                        display: inline-block;
                        padding-left: 40px;
                        vertical-align: middle;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                    &:hover,
                    &.depth_hover {
                        font-weight: 500;
                        color: var(--accentCr);
                    }
                    @for $i from 1 through 22 {
                        &#{$i} {
                            .bg_ico {
                                background-image: url("../images/menu-icon#{$i}.png");
                            }
                            &:hover .bg_ico {
                                background-image: url("../images/menu-icon#{$i}-hover.png");
                            }
                        }
                        &.depth_hover:nth-child(#{$i}) .bg_ico {
                            background-image: url("../images/menu-icon#{$i}-hover.png");
                        }
                    }
                }
                .side_menu_depth {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 100%;
                    display: none;
                    padding: 30px 0;
                    overflow-y: auto;
                    background-color: #eee;

                    .depth_link {
                        width: 100%;
                        display: block;
                        padding: 15px 20px;
                        font-size: 1.6rem;

                        &:hover {
                            font-weight: 500;
                            color: var(--accentCr);
                        }
                    }
                }
            }
        }
    }
}
