#visual {
    width: 100%;
    overflow: hidden;

    .visual_inner {
        width: 100%;
        position: relative;

        .visual_carousel_wrap {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            transition: transform 0.5s ease-in-out;

            .carousel_item {
                width: 100%;
                flex: 0 0 100%; // 이미지가 항상 전체 배너 너비를 차지
            }
        }
        .carousel_control_cotainer {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            position: absolute;
            bottom: 20px;
            right: 100px;
            padding: 8px 10px;
            border-radius: 30px;
            font-size: 1.4rem;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.5);

            .carousel_control_btns {
                padding: 0 6px;
                color: #fff;
            }
            .count .total {
                color: #bbb;
            }
            .play {
                display: none;
            }
        }
    }

    // 미디어쿼리
    @include tablet {
        .visual_inner {
            .carousel_item {
                .visual_img {
                    height: 270px;
                }
            }
            .carousel_control_cotainer {
                right: 50px;
            }
        }
    }
    @include mobile {
        .visual_inner {
            .carousel_item {
                .visual_img {
                    height: 270px;
                }
            }
            .carousel_control_cotainer {
                right: 30px;
            }
        }
    }
}
